<%- include('partials/header.ejs', {title: 'Galerie | Admin', stylePaths:
['/plugins/photoswipe/photoswipe.css']}) %>
<%- include('partials/navbar.ejs',
{title: 'Galerie - Admin Login', loggedIn: loggedIn}) %>

<main
  class="uk-flex uk-flex-center uk-flex-middle uk-margin-auto uk-margin-auto-vertical"
>
  <div class="uk-card uk-card-body uk-card-default">
    <h1 class="uk-card-title">Album Passwort</h1>
    <form class="uk-form-stacked" action="/album/auth" method="POST">
        <input type="hidden" name="albumId" value="<%= albumId %>">
        <div class="uk-margin">
            <label class="uk-form-label" for="password">Passwort</label>
            <div class="uk-form-controls">
            <input
                type="password"
                class="uk-input"
                id="password"
                name="password"
                required
            />
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-form-controls">
            <button type="submit" class="uk-button uk-button-primary">
                Login
            </button>
            </div>
        </div>
    </form>
</div>
</main>


<%- include('partials/footer.ejs') %>